@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ol39ea');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ol39ea#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ol39ea') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ol39ea') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ol39ea##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ae-i {
  &:before {
    content: $ae-i; 
  }
}
.ae-ii {
  &:before {
    content: $ae-ii; 
  }
}
.ae-iii {
  &:before {
    content: $ae-iii; 
  }
}
.ae-iv {
  &:before {
    content: $ae-iv; 
  }
}
.ae-v {
  &:before {
    content: $ae-v; 
  }
}
.ae-vi {
  &:before {
    content: $ae-vi; 
  }
}
.ae-vii {
  &:before {
    content: $ae-vii; 
  }
}
.ae-viii {
  &:before {
    content: $ae-viii; 
  }
}
.ae-ix {
  &:before {
    content: $ae-ix; 
  }
}
.ae-x {
  &:before {
    content: $ae-x; 
  }
}
.ae-xi {
  &:before {
    content: $ae-xi; 
  }
}
.ae-xii {
  &:before {
    content: $ae-xii; 
  }
}
.ae-cardinal1 {
  &:before {
    content: $ae-cardinal1; 
  }
}
.ae-fixo1 {
  &:before {
    content: $ae-fixo1; 
  }
}
.ae-mutavel1 {
  &:before {
    content: $ae-mutavel1; 
  }
}
.ae-cardinal-o1 {
  &:before {
    content: $ae-cardinal-o1; 
  }
}
.ae-fixo-o1 {
  &:before {
    content: $ae-fixo-o1; 
  }
}
.ae-mutavel-o1 {
  &:before {
    content: $ae-mutavel-o1; 
  }
}
.ae-conjuncao {
  &:before {
    content: $ae-conjuncao; 
  }
}
.ae-oposicao {
  &:before {
    content: $ae-oposicao; 
  }
}
.ae-trigono {
  &:before {
    content: $ae-trigono; 
  }
}
.ae-quadratura {
  &:before {
    content: $ae-quadratura; 
  }
}
.ae-semiquadratura {
  &:before {
    content: $ae-semiquadratura; 
  }
}
.ae-sesquiquadratura {
  &:before {
    content: $ae-sesquiquadratura; 
  }
}
.ae-sextil {
  &:before {
    content: $ae-sextil; 
  }
}
.ae-semisextil {
  &:before {
    content: $ae-semisextil; 
  }
}
.ae-quintil {
  &:before {
    content: $ae-quintil; 
  }
}
.ae-biquintil {
  &:before {
    content: $ae-biquintil; 
  }
}
.ae-quincuncio {
  &:before {
    content: $ae-quincuncio; 
  }
}
.ae-aries {
  &:before {
    content: $ae-aries; 
  }
}
.ae-touro {
  &:before {
    content: $ae-touro; 
  }
}
.ae-gemeos {
  &:before {
    content: $ae-gemeos; 
  }
}
.ae-cancer {
  &:before {
    content: $ae-cancer; 
  }
}
.ae-leao {
  &:before {
    content: $ae-leao; 
  }
}
.ae-virgem {
  &:before {
    content: $ae-virgem; 
  }
}
.ae-libra {
  &:before {
    content: $ae-libra; 
  }
}
.ae-escorpiao {
  &:before {
    content: $ae-escorpiao; 
  }
}
.ae-sagitario {
  &:before {
    content: $ae-sagitario; 
  }
}
.ae-capricornio {
  &:before {
    content: $ae-capricornio; 
  }
}
.ae-aquario {
  &:before {
    content: $ae-aquario; 
  }
}
.ae-peixes {
  &:before {
    content: $ae-peixes; 
  }
}
.ae-agua-o {
  &:before {
    content: $ae-agua-o; 
  }
}
.ae-agua {
  &:before {
    content: $ae-agua; 
  }
}
.ae-ar-o {
  &:before {
    content: $ae-ar-o; 
  }
}
.ae-ar {
  &:before {
    content: $ae-ar; 
  }
}
.ae-fogo-o {
  &:before {
    content: $ae-fogo-o; 
  }
}
.ae-fogo {
  &:before {
    content: $ae-fogo; 
  }
}
.ae-terra-o {
  &:before {
    content: $ae-terra-o; 
  }
}
.ae-terra1 {
  &:before {
    content: $ae-terra1; 
  }
}
.ae-ac {
  &:before {
    content: $ae-ac; 
  }
}
.ae-dc {
  &:before {
    content: $ae-dc; 
  }
}
.ae-fc {
  &:before {
    content: $ae-fc; 
  }
}
.ae-mc {
  &:before {
    content: $ae-mc; 
  }
}
.ae-jupiter {
  &:before {
    content: $ae-jupiter; 
  }
}
.ae-lua {
  &:before {
    content: $ae-lua; 
  }
}
.ae-marte {
  &:before {
    content: $ae-marte; 
  }
}
.ae-mercurio {
  &:before {
    content: $ae-mercurio; 
  }
}
.ae-netuno {
  &:before {
    content: $ae-netuno; 
  }
}
.ae-plutao {
  &:before {
    content: $ae-plutao; 
  }
}
.ae-saturno {
  &:before {
    content: $ae-saturno; 
  }
}
.ae-sol {
  &:before {
    content: $ae-sol; 
  }
}
.ae-terra {
  &:before {
    content: $ae-terra; 
  }
}
.ae-urano {
  &:before {
    content: $ae-urano; 
  }
}
.ae-venus {
  &:before {
    content: $ae-venus; 
  }
}
.ae-n0 {
  &:before {
    content: $ae-n0; 
  }
}
.ae-n1 {
  &:before {
    content: $ae-n1; 
  }
}
.ae-n2 {
  &:before {
    content: $ae-n2; 
  }
}
.ae-n3 {
  &:before {
    content: $ae-n3; 
  }
}
.ae-n4 {
  &:before {
    content: $ae-n4; 
  }
}
.ae-n5 {
  &:before {
    content: $ae-n5; 
  }
}
.ae-n6 {
  &:before {
    content: $ae-n6; 
  }
}
.ae-n7 {
  &:before {
    content: $ae-n7; 
  }
}
.ae-n8 {
  &:before {
    content: $ae-n8; 
  }
}
.ae-n9 {
  &:before {
    content: $ae-n9; 
  }
}
.ae-n10 {
  &:before {
    content: $ae-n10; 
  }
}
.ae-n11 {
  &:before {
    content: $ae-n11; 
  }
}
.ae-n12 {
  &:before {
    content: $ae-n12; 
  }
}
.ae-n22 {
  &:before {
    content: $ae-n22; 
  }
}
.ae-n33 {
  &:before {
    content: $ae-n33; 
  }
}
.ae-n44 {
  &:before {
    content: $ae-n44; 
  }
}
.ae-dualidade {
  &:before {
    content: $ae-dualidade; 
  }
}
.ae-pedra-filosofal {
  &:before {
    content: $ae-pedra-filosofal; 
  }
}
.ae-quaternario {
  &:before {
    content: $ae-quaternario; 
  }
}
.ae-todo {
  &:before {
    content: $ae-todo; 
  }
}
.ae-triade {
  &:before {
    content: $ae-triade; 
  }
}
.ae-unidade {
  &:before {
    content: $ae-unidade; 
  }
}
.ae-ceres {
  &:before {
    content: $ae-ceres; 
  }
}
.ae-juno {
  &:before {
    content: $ae-juno; 
  }
}
.ae-pallas {
  &:before {
    content: $ae-pallas; 
  }
}
.ae-quiron {
  &:before {
    content: $ae-quiron; 
  }
}
.ae-vesta {
  &:before {
    content: $ae-vesta; 
  }
}

