$icomoon-font-family: "alfabeto" !default;
$icomoon-font-path: "fonts" !default;

$ae-i: "\e900";
$ae-ii: "\e901";
$ae-iii: "\e902";
$ae-iv: "\e903";
$ae-v: "\e905";
$ae-vi: "\e906";
$ae-vii: "\e907";
$ae-viii: "\e908";
$ae-ix: "\e904";
$ae-x: "\e909";
$ae-xi: "\e90a";
$ae-xii: "\e90b";
$ae-cardinal1: "\e950";
$ae-fixo1: "\e951";
$ae-mutavel1: "\e952";
$ae-cardinal-o1: "\e953";
$ae-fixo-o1: "\e954";
$ae-mutavel-o1: "\e955";
$ae-conjuncao: "\e957";
$ae-oposicao: "\e958";
$ae-trigono: "\e960";
$ae-quadratura: "\e959";
$ae-semiquadratura: "\e95c";
$ae-sesquiquadratura: "\e95e";
$ae-sextil: "\e95f";
$ae-semisextil: "\e95d";
$ae-quintil: "\e95b";
$ae-biquintil: "\e956";
$ae-quincuncio: "\e95a";
$ae-aries: "\e912";
$ae-touro: "\e913";
$ae-gemeos: "\e914";
$ae-cancer: "\e915";
$ae-leao: "\e916";
$ae-virgem: "\e917";
$ae-libra: "\e918";
$ae-escorpiao: "\e919";
$ae-sagitario: "\e91a";
$ae-capricornio: "\e91b";
$ae-aquario: "\e91c";
$ae-peixes: "\e91d";
$ae-agua-o: "\e91e";
$ae-agua: "\e91f";
$ae-ar-o: "\e920";
$ae-ar: "\e921";
$ae-fogo-o: "\e922";
$ae-fogo: "\e923";
$ae-terra-o: "\e924";
$ae-terra1: "\e925";
$ae-ac: "\e926";
$ae-dc: "\e927";
$ae-fc: "\e928";
$ae-mc: "\e929";
$ae-jupiter: "\e92a";
$ae-lua: "\e92b";
$ae-marte: "\e92c";
$ae-mercurio: "\e92d";
$ae-netuno: "\e92e";
$ae-plutao: "\e92f";
$ae-saturno: "\e930";
$ae-sol: "\e931";
$ae-terra: "\e932";
$ae-urano: "\e933";
$ae-venus: "\e934";
$ae-n0: "\e935";
$ae-n1: "\e936";
$ae-n2: "\e937";
$ae-n3: "\e938";
$ae-n4: "\e939";
$ae-n5: "\e93a";
$ae-n6: "\e93b";
$ae-n7: "\e93c";
$ae-n8: "\e93d";
$ae-n9: "\e93e";
$ae-n10: "\e93f";
$ae-n11: "\e940";
$ae-n12: "\e941";
$ae-n22: "\e942";
$ae-n33: "\e943";
$ae-n44: "\e944";
$ae-dualidade: "\e945";
$ae-pedra-filosofal: "\e946";
$ae-quaternario: "\e947";
$ae-todo: "\e948";
$ae-triade: "\e949";
$ae-unidade: "\e94a";
$ae-ceres: "\e94b";
$ae-juno: "\e94c";
$ae-pallas: "\e94d";
$ae-quiron: "\e94e";
$ae-vesta: "\e94f";

